<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ecoleta - Login</title>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
  <link rel="stylesheet" href="../static/style/log.css">
  <style>
    .error-message {
      color: red;
      font-size: 0.9em;
      margin-top: 5px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="screen">
      <div class="screen__content">
        <form class="login" action="sub_login" method="POST">
          <div class="login__field">
            <i class="login__icon fas fa-user"></i>
            <input type="text" class="login__input" placeholder="Email" name="email" id="email">
          </div>
          <div class="login__field">
            <i class="login__icon fas fa-lock"></i>
            <input type="password" class="login__input" placeholder="Senha" name="senha" id="senha">
          </div>
          {% if error %}
            <div class="error-message">{{ error }}</div>
          {% endif %}
          <button class="button login__submit" type="submit" id="submitBtn">
            <span class="button__text">Entrar</span>
            <i class="button__icon fas fa-chevron-right"></i>
          </button>
        </form>
        <!-- Registration button/link below login form -->
        <div class="registration">
          <a href="signin" class="register__link">Registrar-se</a>
        </div>
      </div>
      <div class="screen__background">
        <span class="screen__background__shape screen__background__shape4"></span>
        <span class="screen__background__shape screen__background__shape3"></span>
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
      </div>
    </div>
  </div>
</body>
</html>
